.newsCard {
  display: flex;
}

@media screen and (max-width: 480px) {
  .newsCard {
    display: none;
  }
}

.newsCardMobile {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .newsCardMobile {
    display: none;
  }
}
